.mat-card {
  .mat-card-content {
    position: relative;
    padding: 2rem;
  }
  .text {
    position: relative;
    font-size: 1rem;
    color: rgba(0,0,0, .64);
    padding-bottom: 10px;
    margin: 0;
  }
}


@media (min-width: 768px) {


  .mat-card {
    .mat-card-content {
      min-height: 140px; // Adjust height as your need
    }
    .text {
      min-height: 120px;
    }
  }


}
