<section
  id="why-us-section"
  class="why-us-section home-section"
  [ngClass]="{ 'light-gray': backgroundGray }"
>
  <div class="container">
    <div class="section-header">
      <h2>Why Us</h2>
      <p>
        Our fences are affordable and add to the security and elegance of your
        property.
      </p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0">
          <mat-card-title class="light-gray">
            <div class="card-title-text">
              <div class="">Quality Craftsmentship</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content class="">
            <p class="text">
              We have experience with both residential and commercial fencing.
              Our professional staff can install your new Aluminum, Vinyl,
              Steel, Composite, Wood or Chain Link fence today!
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="33.33">
        <mat-card class="p-0">
          <mat-card-title class="light-gray">
            <div class="card-title-text">
              <div class="">Quality Materials</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content class="">
            <p class="text">
              We use quality, American made products from Elite Fence Products,
              Inc. and Bufftech&reg; Vinyl Fence Products.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="33.33">
        <mat-card class="p-0">
          <mat-card-title class="light-gray">
            <div class="card-title-text">
              <div class="">Owner Operated</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content class="">
            <p class="text">
              We keep our prices low by performing the work ourselves, and
              not hiring any subcontractors.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
