<section id="intro-section" class="home-intro-section text-center">
  <div class="container" fxLayout="column" fxLayoutWrap="nowrap">
    <div class="home-intro-subtitle">Professional fences at a great price</div>
    <!-- <h1 class="home-intro-title  mat-color-primary">R&M Fence</h1> -->
    <h1 class="home-intro-title">R&M Fence</h1>

    <p class="home-intro-text">
      Are you looking to add more security to your home or business? Let R&M
      Fence help you out. We offer high quality fencing solutions for your home
      or business. Our fences are affordable and add to the security and
      elegance of your property. We keep our prices low by performing the work
      ourselves, and not hiring any subcontractors.
    </p>

    <p class="home-intro-text">
      Call <a href="tel:+4402365758">(440) 236-5758</a> For a FREE No Obligation
      Consultation
    </p>

    <button
      mat-raised-button
      mat-lg-button
      class="intro-cta"
      (click)="call()"
      color="warn"
    >
      <mat-icon>phone</mat-icon>
      Call Now
    </button>
  </div>
</section>
