<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="70" class="footer-box">
          <h4 class="footer-box-title"><b>About Us</b></h4>
          <p>
            We offer high quality fencing solutions for your home or business.
            Our fences are affordable and add to the security and elegance of
            your property. We keep our prices low by performing the work
            ourselves, and not hiring any subcontractors.
          </p>
          <p>
            We are locally owned and operated and serve Columbia Station, OH and
            the surrounding area including Cuyahoga, Lorain, and Medina
            counties.
          </p>
          <!--
            No Subtracting
            All Employees are Hourly
            Owner Operated
            Quality & Affordable
            We Use All American Made Material -->

          <button mat-raised-button color="accent" (click)="call()">
            <mat-icon>phone</mat-icon>
            Contact Us
          </button>
        </div>
        <div fxFlex="30" class="footer-box">
          <h4 class="footer-box-title"><b>Contact</b></h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">phone</mat-icon>
              <h5 matLine><b>Phone</b></h5>
              <p matLine><a href="tel:+4402365758">(440) 236-5758</a></p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">email</mat-icon>
              <h5 matLine><b>Email</b></h5>
              <p matLine>
                <a href="mailto:rmfence2006@gmail.com">rmfence2006@gmail.com</a>
              </p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </section>
</footer>
