<section
  id="service-section"
  class="home-section"
  [ngClass]="{ 'light-gray': backgroundGray }"
>
  <div class="container">
    <div class="section-header section-header-long">
      <h2>Our Services</h2>
      <p>
        There is no job too big or too small for R&M to handle! Call us for all
        of your commercial fencing needs. We offer high quality fencing
        solutions for your home or business.
      </p>
    </div>
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutWrap="nowrap"
      fxLayoutGap="20px"
    >
      <div fxFlex="33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>house</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Residential Fences</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">
              The professionals with R&M Fence can help you add privacy,
              security and elegance to your home with our quality fences.
            </p>
            <span fxFlex></span>
            <div>
              <button mat-button>
                <strong class="text-muted">READ MORE</strong>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>corporate_fare </mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Commercial Fencing</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">
              There is no job too big or too small for R&M to handle! Call us
              for all of your commercial fencing needs.
            </p>
            <span fxFlex></span>
            <div>
              <button mat-button>
                <strong class="text-muted">READ MORE</strong>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <!-- <div class="intro-three-product" fxLayoutAlign="center">
              <img src="assets/images/services/repair.png" alt="">
            </div> -->

            <div class="text-center">
              <mat-icon mat-card-icon>build</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Fence Repair</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">
              We can fix all types of fences from wood to wrought iron. Call and
              speak to one of our staff members today.
            </p>
            <span fxFlex></span>
            <div>
              <button mat-button>
                <strong class="text-muted">READ MORE</strong>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
